{% extends 'index.html' %}
{% load static %}

  {% block css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Incluindo as fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">

    <!-- Incluindo o CSS local -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pais-e-profs/pais-e-profs.css' %}">
    <link rel="stylesheet" href="{% static 'css/pais-e-profs/carrossel.css' %}">

    <!-- Incluindo o CSS do Flickity -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <title>Pais e Professores</title>
  {% endblock %}

  {% block conteudo %}
    <div class="container">
        <h1 class="titulo">{{secao.titulo}}: <span class="amarelo">recursos</span> para <br> <span class="roxo">fortalecimento</span> da educação</h1>

        <p class="descricao">{{secao.subtitulo}}</p>
    </div>

  <!-- -->
    <main>
      <section class="card-educativo">
        {% for cat_pag in categorias_paginas.values %}
        <h2 class="subtitulo">{{cat_pag.categoria.nome_formatado.0}} <span class="{% cycle 'laranja italico' 'roxo italico' 'amarelo italico' 'rosa italico' %}">{{cat_pag.categoria.nome_formatado.1}}</span>
            <div class="rectangle-divider"></div>
        </h2>
        
        <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "imagesLoaded":true }'>
            
          {% for pagina in cat_pag.paginas %}
              {% cycle "<div class='carousel-cell'>" "" "" %}
                  <div class="item">
                      <img src="{{pagina.imagem.url}}">
                      <p class="descricao preto">{{pagina.titulo}}</p>
                  </div>
              {% if forloop.last %}
              </div>
              {% resetcycle %}
              {% else %}
                  {% cycle "" "" "</div>" %}
              {% endif %}
          {% endfor %}
        </div>
        {% resetcycle %}
        {% endfor %}
      </section>
    </main>
    {% endblock %}
  <!-- -->
        
    {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    {% endblock %}
