<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../../css/videos/videos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <!-- Incluindo o CSS do Flickity -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.2.2/flickity.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <title>Vídeos</title>
</head>
<body>
    <section class="main">
        <div class="hero">
            <div class="titulo-main">
                <h1 class="preto">Mais <span class="laranja italico">conhecimento,</span> <span class="roxo italico">diversão</span> <span class="italico">&</span>
                    <span class="rosa italico">segurança</span> para crianças</h1>
            </div>
            <div class="imagens-hero">
                <div class="containerHeroPequeno">
                    <img src="..\img\videos\hero\image1.png" alt="">
                </div>
                <div class="containerHeroPequeno">
                    <img src="..\img\videos\hero\image2.png" alt="">
                    <img src="..\img\videos\hero\image3.png" alt="">
                </div>
                <div class="containerHeroGrande">
                    <img src="..\img\videos\hero\image4.png" alt="">
                </div>
                <div class="containerHeroPequeno">
                    <img src="..\img\videos\hero\image5.png" alt="">
                    <img src="..\img\videos\hero\image6.png" alt="">
                </div>
                <div class="containerHeroPequeno">
                    <img src="..\img\videos\hero\image7.png" alt="">
                </div>
            </div>
        </div>
        <div class="legenda-main">
            <p class="legenda">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis magna aliquet</p>
        </div>
    </section>
    
    <section class="categorias">
        <div class="botões">
            <button class="componente">
                <img src="..\img\videos\categorias-ícones\videos-educativos.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis.</p>
            </button>
            <button class="componente">
                <img src="..\img\videos\categorias-ícones\videos-de-tutoriais.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis.</p>
            </button>
            <button class="componente">
                <img src="..\img\videos\categorias-ícones\historias-para-dormir.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis.</p>
            </button>
            <button class="componente">
                <img src="..\img\videos\categorias-ícones\aulas-interativas.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at mauris quis.</p>
            </button>
        </div>
    </section>
    <main>
        <section class="card-educativo">
            <h2 class="subtitulo">Vídeos <span class="laranja italico">educativos</span>
                <div class="rectangle-divider"></div>
            </h2>
            <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "imagesLoaded":true }'>
                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="card-tutoriais">
            <h2 class="subtitulo">Vídeos <span class="roxo italico">de tutoriais</span>
                <div class="rectangle-divider"></div>
            </h2>
            <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "imagesLoaded":true }'>
                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="card-historias">
            <h2 class="subtitulo">Histórias <span class="amarelo italico">para dormir</span>
                <div class="rectangle-divider"></div>
            </h2>
            <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "imagesLoaded":true }'>
                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="card-interativo">
            <h2 class="subtitulo">Aulas <span class="rosa italico">interativas</span>
                <div class="rectangle-divider"></div>
            </h2>
            
            <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "imagesLoaded":true }'>
                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>

                <div class="carousel-cell">
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                    <div class="item">
                        <img src="../../img/videos/vídeos-carrosel/Arquivo-de-vídeo1.png">
                        <p class="descricao preto">Lorem ipsum dolor sit amet, consectetur.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>
